*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    background-image: url(meatBack4.avif);
    background-repeat: no-repeat;
    background-size: 1400px 700px;
}
.headelements{
    display:flex;
    justify-content:space-between;
    color:white;
}
#firsth1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 200px;
    padding-left: 15px;
    font-weight: lighter;
    line-height: 150px;
}
#secondh1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 200px;
    padding-right: 15px;
    font-weight: lighter;
    line-height: 130px;
}
#rotate{
    line-height: 33px;
    transform: rotate(270deg);
}
#prof{
    margin-top: 30px;
    font-family:cursive;
    transform: rotate(-5deg);
}